<footer>
  <small>
    This project is maintained by <a href="https://www.danurbanowicz.com">Dan Urbanowicz</a>.
    View the <a href="{{ pkg.repository.url }}">Github repo</a>.
  </small>
</footer>

  {% set js %}
    {% include "assets/js/inline.js" %}
    {% include "assets/js/jquery.min.js" %}
  {% endset %}
<!--  <script>{{ js | jsmin | safe }}</script>-->
