<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>
		<section class="coversection">
<div class="covercontainer w-container">
<div class="cube _1">
<div class="cube-face bottom green"></div>
<div class="cube-face top green"></div>
<div class="cube-face right green"></div>
<div class="cube-face left green"></div>
<div class="cube-face back green"></div>
<div class="cube-face front green"></div>
</div>
<div class="cube _2">
<div class="cube-face bottom red"></div>
<div class="cube-face top red"></div>
<div class="cube-face right red"></div>
<div class="cube-face left red"></div>
<div class="cube-face back red"></div>
<div class="cube-face front red"></div>
</div>
<div class="cube _3">
<div class="cube-face bottom blue"></div>
<div class="cube-face top blue"></div>
<div class="cube-face right blue"></div>
<div class="cube-face left blue"></div>
<div class="cube-face back blue"></div>
<div class="cube-face front blue"></div>
</div>
<div class="cube _4">
<div class="cube-face bottom orange"></div>
<div class="cube-face top orange"></div>
<div class="cube-face right orange"></div>
<div class="cube-face left orange"></div>
<div class="cube-face back orange"></div>
<div class="cube-face front orange"></div>
</div>
<h1 class="cover-title">brian rountree</h1>
<h1 class="cover-title w-hidden-small">the reformed coder</h1>
<div class="cover-subtitle">
building lots of things.
</div>
<div class="cover-cta">
<a target="_blank" href="https://webflow.com/dashboard/signup" class="button--cta w-button">contact</a>
<a href="#intro" class="button--cta secondary w-button">resume</a>
<a href="#intro" class="go-down-link w-inline-block" style="">
<img src="https://uploads-ssl.webflow.com/566fb9dc1b4525b47c0c2505/592ff5b9723a917fb93de6ca_arrow-down.svg" width="40">
</a>
<div class="cover-cta-learnmore">
or <a href="#">Learn More</a>.
</div>
</div>
</section>
		<header>
			<em>
				<a href="{{ '/' | url }}">{{ metadata.title }}</a>
			</em>
			{% include "components/nav.njk" %}
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
